@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;700&family=Rubik&display=swap');

:root {
    --principal      : #cd24bf;
    --secondary      : #c5e1fe;
    --dark-grey      : #747474;
    --light-grey     : #b0b0b0;
    --dark-principal : #83239b;
    --light-principal: #9648aa;
}

#app {
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: #f4f8fa;
}

h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    color: var(--principal);
    font-size: 2.4rem;
    color: #05003d;
}
h4 {
    color: var(--principal);
    font-size: 2rem;
}
h5,
h6 {
    font-size: 1.8rem;
    font-family: 'Barlow Condensed', sans-serif;
}
p,
b {
    font-size: 1.6rem;
}
b {
    font-weight: 800;
}
a,
button {
    display: block;
    padding: 1em 1.4em;
    font-size: 1.2em;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    background-color: var(--secondary);
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}
a:focus,
a:hover {
    color: var(--principal);
    transform: scale(1.2);
}

li {
    display: inline-block;
    list-style: none;
}

span {
    color: var(--dark-grey);
    font-size: 1.5rem;
}

nav > div {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 2em;
}
.favicon {
    background: none;
}

.cards-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: rgb(255, 255, 255);
    margin: 1.5em 1em;
    border-radius: 15px;
    box-shadow: 4px 2px 10px var(--light-grey);
    border: 1px solid var(--light-grey);
    padding: 1.5em 2em;
    width: 15em;
    height: fit-content;
}

.icons-group {
    display: flex;
    flex-direction: row;
}
.icons-group a {
    background: none;
    border: none;
    margin: auto;
}

.about-text p,
.contact p {
    text-align: left;
    padding: .5em 4em;
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    h5,
    h6 {
        font-size: 1.2rem;
        font-family: 'Barlow Condensed', sans-serif;
    }
    p,
    b {
        font-size: 1rem;
    }

    .card {
        margin: .5em .5em;
        padding: .5em .2em;
        width: 100%;
    }

    .about-text p,
    .contact p {
        padding: .3em .5em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    *{
        background-color: red;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    *{
        background-color: red;
    }
}